body {
    background-color: white;
}

div {
    color: black
}

h1 {
    color: black;
    padding: 60px ;
    background-color:rgb(245, 17, 112) ;
    display: flex;
    justify-content: center;
    font-family: system-ui;
    font-size: 45px;
     
}

a {
    margin: 10px 10px 10px;
    display: block;
    text-align: center;
    
}

a:hover {
    color:rgb(245, 17, 112) 
}

h2 {
    color: black;
    margin: 20px;
    display: block;
    text-align: center;
    font-family: system-ui;
    
}

li, ul {
    text-align: center;
    padding: 13px;
    font-family: system-ui;
    display: block;
}