body {
    background-color: white;
}

div {
    color: black
}

h1 {
    color: black;
    padding: 60px ;
    background-color:rgb(245, 17, 112) ;
    display: flex;
    justify-content: center;
    font-family: system-ui;
    font-size: 45px;
     
}

a {
    margin: 10px 10px 10px;
    display: block;
    text-align: center;
    
}

a:hover {
    color:rgb(245, 17, 112) 
}


h2 {
    color: black;
    margin: 10px 10px 10px;
    display: block;
    text-align: center;
    font-family: system-ui;
    
}

h3 {
    text-align: center;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    font-family: system-ui;
}

img {
    width: 40%;
    padding: 10px;
    position: relative;
    left: 20px;
    border: rgb(245, 17, 112) solid
}

tr {
    font-family: system-ui;
    text-align:left
}
td {
    text-align:start;
    font-family: system-ui;
}

.center {
    text-align: center;
}